@import "resetstyle";
@import "variables";
@import "mixins";

.main {
    margin: 50px auto;
    width: 300px;

    h1 {
        color: $color-light-green;
        font-size: $font-size-large;
        margin-bottom: 50px;
    }

    .cont {
        width: 300px;
        height: 80px;
        background-color: $color-dark-green;
        @include center();
        
        p {
            color: white;
            display: inline;
        }
    }
}

h3 {
    color: $font-size-medium;
}

.parent {
    width: 300px;
    height: 200px;
    margin: 50px auto;
    border: 2px solid black;
    @include center();
}

.card {
    @include card(230px, 340px, $color-dark-green, white, 15px);
}

.profile {
    @include card(400px, 200px, gold, black, 5px);
}